<div class="container-anl">
  <h2 mat-dialog-title *ngIf="!mData">THÊM MỚI NGHỈ LỄ</h2>
  <h2 mat-dialog-title *ngIf="mData">SỬA THÔNG TIN NGHỈ LỄ</h2>
  <span>Vui lòng nhập đầy đủ thông tin bên dưới</span>
  <form [formGroup]="myForm">
    <mat-form-field appearance="outline" width-100>
      <mat-label>Mã loại lễ</mat-label>
      <input matInput placeholder="Nhập Text" formControlName="codeHoliday" />
    </mat-form-field>
    <mat-form-field appearance="outline" width-100>
      <mat-label>Tên loại lễ</mat-label>
      <input matInput placeholder="Nhập Text" formControlName="nameHoliday" />
    </mat-form-field>
    <mat-form-field appearance="outline" width-100>
      <mat-label>Mô tả</mat-label>
      <textarea
        matInput
        placeholder="Nhập Text"
        formControlName="description"
      ></textarea>
    </mat-form-field>
    <div width-100 align="end">
      <button
        mat-raised-button
        color="primary"
        type="submit"
        (click)="onClickOk($event)"
        [disabled]="!myForm.valid"
        cdkFocusInitial
      >
        <mat-icon>save</mat-icon> {{ mData ? "Lưu và đóng" : "Thêm và đóng" }}
      </button>
      <button
        mat-raised-button
        color="warn"
        class="margin-left1"
        mat-dialog-close
      >
        <mat-icon>close</mat-icon> Hủy
      </button>
    </div>
  </form>
</div>
