<div class="container-anl">
  <h2 mat-dialog-title *ngIf="!mData">THÊM MỚI HỢP ĐỒNG</h2>
  <h2 mat-dialog-title *ngIf="mData">SỬA THÔNG TIN HỢP ĐỒNG</h2>
  <span>Vui lòng nhập đầy đủ thông tin bên dưới</span>
  <form [formGroup]="myForm" #form="ngForm" (submit)="onSubmit(form.value)">
    <mat-form-field appearance="outline">
      <mat-label>Số hợp đồng</mat-label>
      <input matInput placeholder="Nhập Text" formControlName="contractCode" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Mức lương</mat-label>
      <input
        type="number"
        matInput
        placeholder="Nhập Text"
        formControlName="salaryNumber"
      />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Ngày ký</mat-label>
      <input
        matInput
        [matDatepicker]="signDatePicker"
        formControlName="signDate"
      />
      <mat-datepicker-toggle matSuffix [for]="signDatePicker">
      </mat-datepicker-toggle>
      <mat-datepicker #signDatePicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Tình trạng hợp đồng</mat-label>
      <input matInput placeholder="Nhập Text" formControlName="status" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Loại hợp đồng</mat-label>
      <input
        matInput
        type="text"
        formControlName="idLoaiHopDong"
        [matAutocomplete]="autoDepartment"
      />
      <mat-autocomplete
        autoActiveFirstOption
        #autoDepartment="matAutocomplete"
        [displayWith]="typeContractDisplayFn"
      >
        <mat-option
          *ngFor="let item of filterTypeContract | async"
          [value]="item"
        >
          {{ item.tenLoaiHD }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Ngày chấm dứt</mat-label>
      <input
        matInput
        [matDatepicker]="contractDateEndPicker"
        formControlName="contractDateEnd"
      />
      <mat-datepicker-toggle matSuffix [for]="contractDateEndPicker">
      </mat-datepicker-toggle>
      <mat-datepicker #contractDateEndPicker></mat-datepicker>
    </mat-form-field>
    <div width-100 align="end">
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="!myForm.valid"
      >
        <mat-icon>save</mat-icon> {{ mData ? "Lưu và đóng" : "Thêm và đóng" }}
      </button>
      <button
        mat-raised-button
        color="warn"
        class="margin-left1"
        mat-dialog-close
      >
        <mat-icon>close</mat-icon> Hủy
      </button>
    </div>
  </form>
</div>
