<div class="container-amc">
  <div class="title">
    <span>{{ myForm.value.staffName }}</span>
  </div>
  <form [formGroup]="myForm" #form="ngForm" (submit)="onSubmit(form.value)">
    <mat-tab-group
      mat-align-tabs="start"
      #tabGroup
      (selectedTabChange)="tabChanged($event)"
    >
      <mat-tab label="Thông tin chung">
        <div class="tab">
          <div class="double-input">
            <mat-form-field appearance="outline">
              <mat-label>Mã nhân viên</mat-label>
              <input
                required
                [readonly]="!isEdit"
                matInput
                placeholder="Nhập Text"
                formControlName="staffCode"
              />
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>ID máy chấm công</mat-label>
              <input
                [readonly]="!isEdit"
                matInput
                placeholder="Nhập Text"
                formControlName="idMayChamCong"
              />
            </mat-form-field>
          </div>

          <mat-form-field appearance="outline">
            <mat-label>Mã số thuế cá nhân</mat-label>
            <input
              [readonly]="!isEdit"
              matInput
              placeholder="Nhập Text"
              formControlName="taxCode"
            />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Họ và tên</mat-label>
            <input
              required
              [readonly]="!isEdit"
              matInput
              placeholder="Nhập Text"
              formControlName="staffName"
            />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Điện thoại</mat-label>
            <input
              [readonly]="!isEdit"
              matInput
              placeholder="Nhập Text"
              formControlName="phoneNumber"
            />
          </mat-form-field>
          <div class="double-input">
            <mat-form-field appearance="outline">
              <mat-label>Ngày tháng năm sinh</mat-label>
              <input
                required
                [readonly]="!isEdit"
                matInput
                [matDatepicker]="birthdayPicker"
                formControlName="birthday"
                (dateChange)="computeAge()"
              />
              <mat-datepicker-toggle
                [disabled]="!isEdit"
                matSuffix
                [for]="birthdayPicker"
              >
              </mat-datepicker-toggle>
              <mat-datepicker #birthdayPicker></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Tuổi</mat-label>
              <input
                readonly
                matInput
                placeholder="Nhập Text"
                formControlName="age"
              />
            </mat-form-field>
          </div>
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input
              [readonly]="!isEdit"
              matInput
              placeholder="Nhập Text"
              formControlName="email"
            />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Giới tính</mat-label>
            <mat-select
              placeholder="Chọn giới tính"
              formControlName="gender"
              [disabled]="!isEdit"
            >
              <mat-option value="Nam">Nam</mat-option>
              <mat-option value="Nữ">Nữ</mat-option>
              <mat-option value="Khác">Khác</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Số chứng minh nhân dân</mat-label>
            <input
              [readonly]="!isEdit"
              matInput
              placeholder="Nhập số CMND"
              formControlName="cmndNumber"
            />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Số tài khoản ngân hàng</mat-label>
            <input
              [readonly]="!isEdit"
              matInput
              placeholder="Nhập Text"
              formControlName="bankNumber"
            />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Phòng ban</mat-label>
            <input
              [readonly]="!isEdit"
              matInput
              type="text"
              formControlName="idBoPhan"
              [matAutocomplete]="autoDepartment"
              required
            />
            <mat-autocomplete
              autoActiveFirstOption
              #autoDepartment="matAutocomplete"
              [displayWith]="departmentDisplayFn"
              required
            >
              <mat-option
                *ngFor="let item of filterDepartment | async"
                [value]="item"
              >
                {{ item.departmentName }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Ngân hàng</mat-label>
            <input
              [readonly]="!isEdit"
              placeholder="Nhập Text"
              matInput
              type="text"
              formControlName="bankName"
            />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Chức vụ</mat-label>
            <input
              [readonly]="!isEdit"
              matInput
              type="text"
              formControlName="idChucVu"
              [matAutocomplete]="autoRole"
              required
            />
            <mat-autocomplete
              autoActiveFirstOption
              #autoRole="matAutocomplete"
              [displayWith]="roleDisplayFn"
              required
            >
              <mat-option
                *ngFor="let item of filterRole | async"
                [value]="item"
              >
                {{ item.positionName }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Bằng cấp</mat-label>
            <input
              [readonly]="!isEdit"
              matInput
              placeholder="Nhập Text"
              formControlName="degree"
            />
          </mat-form-field>
          <mat-form-field appearance="outline" style="width: 66%">
            <mat-label>Quê quán</mat-label>
            <input
              [readonly]="!isEdit"
              matInput
              placeholder="Nhập Text"
              formControlName="address"
            />
          </mat-form-field>
          <!-- <mat-form-field appearance="outline" width-100>
            <mat-label>Nơi ở hiện đại</mat-label>
            <input
            [readonly]='!isEdit'
              matInput
              placeholder="Nhập Text"
              formControlName="currentResidence"
            />
          </mat-form-field> -->
          <mat-form-field appearance="outline" width-100>
            <mat-label>Hộ khẩu thường trú</mat-label>
            <input
              [readonly]="!isEdit"
              matInput
              placeholder="Nhập Text"
              formControlName="permanentResidence"
            />
          </mat-form-field>
        </div>
        <span>Thông tin hợp đồng</span>
        <div class="tab">
          <mat-form-field appearance="outline">
            <mat-label>Số HĐ</mat-label>
            <input
              required
              [readonly]="!isEdit"
              matInput
              placeholder="Nhập Text"
              formControlName="contractCode"
            />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Ngày kí</mat-label>
            <input
              [readonly]="!isEdit"
              matInput
              [matDatepicker]="signDatePicker"
              formControlName="signDate"
            />
            <mat-datepicker-toggle
              [disabled]="!isEdit"
              matSuffix
              [for]="signDatePicker"
            >
            </mat-datepicker-toggle>
            <mat-datepicker #signDatePicker></mat-datepicker>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Loại hợp đồng</mat-label>
            <input
              [readonly]="!isEdit"
              required
              matInput
              type="text"
              formControlName="idLoaiHopDong"
              [matAutocomplete]="autoTypeContract"
            />
            <mat-autocomplete
              autoActiveFirstOption
              #autoTypeContract="matAutocomplete"
              [displayWith]="typeContractDisplayFn"
            >
              <mat-option
                *ngFor="let item of filterTypeContract | async"
                [value]="item"
              >
                {{ item.tenLoaiHD }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Mức lương</mat-label>
            <input
              [readonly]="!isEdit"
              matInput
              placeholder="Nhập số tiền"
              formControlName="workingSalary"
              type="number"
            />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Ngày hết hạn</mat-label>
            <input
              [readonly]="!isEdit"
              matInput
              [matDatepicker]="contractDateEndPicker"
              formControlName="contractDateEnd"
            />
            <mat-datepicker-toggle
              [disabled]="!isEdit"
              matSuffix
              [for]="contractDateEndPicker"
            >
            </mat-datepicker-toggle>
            <mat-datepicker #contractDateEndPicker></mat-datepicker>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Tình trạng HĐ</mat-label>
            <mat-select
              [disabled]="!isEdit"
              placeholder="Vui lòng chọn..."
              formControlName="status"
            >
              <mat-option value="Có hiệu lực">Có hiệu lực</mat-option>
              <mat-option value="Hết hiệu lực">Hết hiệu lực</mat-option>
              <mat-option value="Tạm dừng">Tạm dừng</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="d-flex justify-content-center" style="padding-bottom: 2%">
          <button
            mat-raised-button
            type="button"
            color="primary"
            style="margin-right: 1%"
            routerLink="/menu/quote"
          >
            <mat-icon>exit_to_app</mat-icon>Thoát
          </button>
          <button
            mat-raised-button
            type="button"
            color="accent"
            style="margin-right: 1%"
            (click)="isEdit = true"
            [disabled]="isEdit"
          >
            <mat-icon>edit</mat-icon>Chỉnh sửa
          </button>
          <button
            mat-raised-button
            color="warn"
            type="submit"
            [disabled]="myForm.invalid"
          >
            <mat-icon>save</mat-icon>Lưu
          </button>
        </div>
      </mat-tab>
      <mat-tab label="Quan hệ gia đình">
        <div class="tab1">
          <div align="end" style="padding-bottom: 1%">
            <button
              mat-raised-button
              color="primary"
              type="button"
              (click)="onClickAddFamilyRelationship()"
            >
              <mat-icon>add</mat-icon>Thêm mới
            </button>
          </div>
          <app-table-paginator
            [hasPagination]="false"
            (clickEdit)="onClickEditFamilyRelationship($event)"
            (clickBtn)="onClickBtnFamilyRelationship($event)"
          ></app-table-paginator>
        </div>
      </mat-tab>
      <mat-tab label="Quản lý đào tạo sau khi đến công ty">
        <div class="tab1">
          <div align="end" style="padding-bottom: 1%">
            <button
              type="button"
              mat-raised-button
              color="primary"
              (click)="onClickAddTrainingAfter()"
            >
              <mat-icon>add</mat-icon>Thêm mới
            </button>
          </div>
          <app-table-paginator
            [hasPagination]="false"
            (clickEdit)="onClickEditTrainingAfter($event)"
            (clickBtn)="onClickBtnTrainingAfter($event)"
          ></app-table-paginator>
        </div>
      </mat-tab>
      <mat-tab label="Quản lý đào tạo trước khi đến công ty">
        <div class="tab1">
          <div align="end" style="padding-bottom: 1%">
            <button
              type="button"
              mat-raised-button
              color="primary"
              (click)="onClickAddTrainingBefore()"
            >
              <mat-icon>add</mat-icon>Thêm mới
            </button>
          </div>
          <app-table-paginator
            [hasPagination]="false"
            (clickEdit)="onClickEditTrainingBefore($event)"
            (clickBtn)="onClickBtnTrainingBefore($event)"
          ></app-table-paginator>
        </div>
      </mat-tab>
      <mat-tab label="Lịch sử công tác">
        <div class="tab1">
          <div align="end" style="padding-bottom: 1%">
            <button
              type="button"
              mat-raised-button
              color="primary"
              (click)="onClickAddStaffStatus()"
            >
              <mat-icon>add</mat-icon>Thêm mới
            </button>
          </div>
          <app-table-paginator
            [hasPagination]="false"
            (clickEdit)="onClickEditStaffStatus($event)"
            (clickBtn)="onClickBtnStaffStatus($event)"
          ></app-table-paginator>
        </div>
      </mat-tab>
      <mat-tab label="Quản lý hợp đồng">
        <div class="tab1">
          <div align="end" style="padding-bottom: 1%">
            <button
              type="button"
              mat-raised-button
              color="primary"
              (click)="onClickAddContract()"
            >
              <mat-icon>add</mat-icon>Thêm mới
            </button>
          </div>
          <app-table-paginator
            [hasPagination]="false"
            (clickEdit)="onClickEditContract($event)"
            (clickBtn)="onClickBtnContract($event)"
          ></app-table-paginator>
        </div>
      </mat-tab>
      <mat-tab label="Quyết định tăng lương">
        <div class="tab1">
          <div align="end" style="padding-bottom: 1%">
            <button
              type="button"
              mat-raised-button
              color="primary"
              (click)="onClickAddSalaryIncrease()"
            >
              <mat-icon>add</mat-icon>Thêm mới
            </button>
          </div>
          <app-table-paginator
            [hasPagination]="false"
            (clickBtn)="onClickBtnSalaryIncrease($event)"
            (clickEdit)="onClickEditSalaryIncrease($event)"
          ></app-table-paginator>
        </div>
      </mat-tab>
    </mat-tab-group>
  </form>
</div>
<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="large"
  color="#325b8c"
  type="ball-atom"
  [fullScreen]="true"
>
  <p style="color: white">Loading...</p></ngx-spinner
>
