<div class="container-anl">
  <h2 mat-dialog-title *ngIf="!mData">THÊM MỚI CHI NHÁNH</h2>
  <h2 mat-dialog-title *ngIf="mData">SỬA THÔNG TIN CHI NHÁNH</h2>
  <span>Vui lòng nhập đầy đủ thông tin bên dưới</span>
  <form [formGroup]="myForm">
    <mat-form-field appearance="outline">
      <mat-label>Mã chi nhánh</mat-label>
      <input matInput placeholder="Nhập Text" formControlName="branchCode" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Tên chi nhánh</mat-label>
      <input matInput placeholder="Nhập Text" formControlName="branchName" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Địa chỉ</mat-label>
      <input matInput placeholder="Nhập Text" formControlName="address" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Số điện thoại</mat-label>
      <input matInput placeholder="Nhập Text" formControlName="phoneNumber" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Fax</mat-label>
      <input matInput placeholder="Nhập Text" formControlName="faxNumber" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Nhập Text" formControlName="email" />
    </mat-form-field>
    <div width-100 align="end">
      <button
        mat-raised-button
        color="primary"
        type="submit"
        (click)="onClickOk($event)"
        [disabled]="!myForm.valid"
        cdkFocusInitial
      >
        <mat-icon>save</mat-icon> {{ mData ? "Lưu và đóng" : "Thêm và đóng" }}
      </button>
      <button
        mat-raised-button
        color="warn"
        class="margin-left1"
        mat-dialog-close
      >
        <mat-icon>close</mat-icon> Hủy
      </button>
    </div>
  </form>
</div>
