<div class="login-page">
  <div class="login-header">
    <!-- <span>NAM AN PHÚ TECHNOLOGIES</span> -->

    <!-- <img src="../../../assets/img/logo.png" /> -->
  </div>
  <div class="login-content">
    <div class="title-login">
      <!-- <span>NAM AN PHÚ TECHNOLOGIES</span> -->
      <img src="../../../assets/img/logoNAP.png" />
      <br />
      <br />
    </div>
    <div class="form-login">
      <div class="form-content">
        <mat-form-field appearance="outline">
          <mat-label>Tên đăng nhập</mat-label>
          <input matInput [(ngModel)]="username" type="text" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Mật khẩu</mat-label>
          <input
            matInput
            [type]="hide ? 'password' : 'text'"
            [(ngModel)]="password"
            (keyup.enter)="onClickLogin()"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div>
        <button mat-raised-button color="primary" (click)="onClickLogin()">
          Đăng nhập
        </button>
      </div>
    </div>
  </div>
  <div class="login-footer">
    <p>Tầng 18, Tòa nhà Twin Tower, Linh Đàm, Hà Nội</p>

    <p>Tel. 024 3550 1618</p>

    <p>Email: info@namanphu@gmail.com</p>
  </div>
</div>
