<div class="basic-container">
  <div class="logo">
    <img src="../../../assets/img/logoNAP.png" />
  </div>
  <div class="d-flex justify-content-center header-center">
    <ng-container *ngFor="let menuItem of modulesList" tappable>
      <ng-container *ngIf="menuItem.children.length < 1">
        <button
          #button
          mat-button
          class="button-menu"
          [class.selected]="menuItem.indexMenu == indexMenu"
          [routerLink]="menuItem.link"
        >
          <span class="icon fa"></span>
          <span>
            {{ menuItem.label }}
            <i class="fa fa-chevron-down"></i>
          </span>
        </button>
      </ng-container>
      <ng-container *ngIf="menuItem.children.length > 0">
        <button
          #button
          mat-button
          [matMenuTriggerFor]="levelOne"
          #levelOneTrigger="matMenuTrigger"
          (mouseenter)="buttonEnter(levelOneTrigger)"
          (mouseleave)="buttonLeave(levelOneTrigger, button)"
          class="button-menu"
          [class.selected]="menuItem.indexMenu == indexMenu"
          [routerLink]="menuItem.link"
        >
          <span class="icon fa"></span>
          <span>
            {{ menuItem.label }}
            <i class="fa fa-chevron-down"></i>
          </span>
        </button>

        <mat-menu #levelOne="matMenu" direction="down" yPosition="below">
          <span
            (mouseenter)="menuenter()"
            (mouseleave)="menuLeave(levelOneTrigger, button)"
            width-20
          >
            <ng-container *ngFor="let childL1 of menuItem.children">
              <li
                class="p-0"
                *ngIf="!childL1.children"
                mat-menu-item
                [routerLink]="childL1.link"
              >
                <span class="nav-link">
                  {{ childL1.label }}
                  <i *ngIf="childL1.icon"></i>
                </span>
              </li>
              <ng-container
                *ngIf="childL1.children && childL1.children.length > 0"
              >
                <li
                  mat-menu-item
                  #levelTwoTrigger="matMenuTrigger"
                  [matMenuTriggerFor]="levelTwo"
                >
                  <span class="icon fa"></span>
                  <span>{{ childL1.label }}</span>
                </li>

                <mat-menu #levelTwo="matMenu">
                  <span
                    (mouseenter)="menu2enter()"
                    (mouseleave)="
                      menu2Leave(levelOneTrigger, levelTwoTrigger, button)
                    "
                  >
                    <ng-container *ngFor="let childL2 of childL1.children">
                      <li class="p-0" mat-menu-item [routerLink]="childL2.link">
                        <span class="nav-link">
                          {{ childL2.label }}
                          <i *ngIf="childL2.icon"></i>
                        </span>
                      </li>
                    </ng-container>
                  </span>
                </mat-menu>
              </ng-container>
            </ng-container>
          </span>
        </mat-menu>
      </ng-container>
    </ng-container>
  </div>
  <div class="header-back d-flex flex-row">
    <div class="d-flex flex-row user">
      <button
        mat-icon-button
        [matMenuTriggerFor]="userDetail"
        style="height: -webkit-fill-available"
      >
        <mat-icon>account_circle</mat-icon>
      </button>
    </div>
    <!-- <div width-40 class="translate">
      <img src="../../../assets/img/icon-Vietnam.png" />
      <img src="../../../assets/img/icon- English.png" />
    </div> -->
  </div>
</div>

<mat-menu background-primary #userDetail="matMenu">
  <br />
  <button mat-menu-item>
    <mat-icon>account_circle</mat-icon>{{ userInfo.staffName }}
  </button>
  <button mat-menu-item>
    <mat-icon>qr_code</mat-icon>{{ userInfo.staffCode }}
  </button>
  <!-- <button mat-menu-item (click)="onClickLogout()">
    <mat-icon>published_with_changes</mat-icon>Đổi mật khẩu
  </button> -->
  <button mat-menu-item (click)="onClickLogout()">
    <mat-icon>exit_to_app</mat-icon>Đăng xuất
  </button>
</mat-menu>

<router-outlet></router-outlet>
