@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
// @import "compass/css3";

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

.basic-container {
  height: 7%;
  display: flex;
  flex-direction: row;
  box-shadow: 1px 0px 20px 5px #325b8c;

  .logo {
    max-width: 10%;
    margin: auto;

    img {
      padding-left: 5%;
      max-width: 100%;
    }
  }
}

.version-info {
  font-size: 8pt;
  float: right;
}

.header-center {
  width: 85%;
  .button-menu {
    z-index: 1050;
    width: 12%;
  }

  span {
    color: #325b8c;
    font-size: 0.8vw;
  }
}

.header-back {
  width: 5%;
  justify-content: center;

  .user {
    // align-items: center;
    // justify-content: flex-end;

    span {
      align-items: center;
      justify-content: center;
      font-size: initial;
    }

    .mat-icon {
      max-width: 50px;
      font-size: 2vw;
    }
  }

  .translate {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      padding-right: 3px;
      width: 38px;
      height: 35px;
    }
  }
}

.selected {
  background-color: #325b8c;

  span {
    color: #ffffff;
  }
}

button {
  white-space: normal;
  line-height: normal;
}
