<div class="container-anl">
  <h2 mat-dialog-title *ngIf="!mData">THÊM MỚI TÌNH TRẠNG NHÂN VIÊN</h2>
  <h2 mat-dialog-title *ngIf="mData">SỬA THÔNG TIN TÌNH TRẠNG NHÂN VIÊN</h2>
  <span>Vui lòng nhập đầy đủ thông tin bên dưới</span>
  <form [formGroup]="myForm">
    <div width-50 style="padding-right: 1%">
      <mat-form-field appearance="outline">
        <mat-label>Mã số nhân sự</mat-label>
        <input matInput placeholder="Nhập Text" formControlName="codeStaff" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>ID máy chấm công</mat-label>
        <input
          matInput
          placeholder="Nhập Text"
          formControlName="timekeeperCode"
        />
      </mat-form-field>
    </div>

    <mat-form-field appearance="outline">
      <mat-label>Mã số thuế cá nhân</mat-label>
      <input
        matInput
        placeholder="Nhập Text"
        formControlName="personalTaxCode"
      />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Họ và tên</mat-label>
      <input matInput placeholder="Nhập Text" formControlName="staffName" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Điện thoại</mat-label>
      <input matInput placeholder="Nhập Text" formControlName="phone" />
    </mat-form-field>
    <div width-50 style="padding-right: 1%">
      <mat-form-field appearance="outline">
        <mat-label>Ngày tháng năm sinh</mat-label>
        <input
          matInput
          [matDatepicker]="birthdayPicker"
          formControlName="birthday"
        />
        <mat-datepicker-toggle matSuffix [for]="birthdayPicker">
        </mat-datepicker-toggle>
        <mat-datepicker #birthdayPicker></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Tuổi</mat-label>
        <input matInput placeholder="Nhập Text" formControlName="age" />
      </mat-form-field>
    </div>
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Nhập Text" formControlName="email" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Giới tính</mat-label>
      <mat-select placeholder="Chọn giới tính" formControlName="gender">
        <mat-option value="Nam">Nam</mat-option>
        <mat-option value="Nữ">Nữ</mat-option>
        <mat-option value="Khác">Khác</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Số tài khoản ngân hàng</mat-label>
      <input matInput placeholder="Nhập Text" formControlName="stkNH" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Phòng ban</mat-label>
      <mat-select placeholder="Nhập Text" formControlName="departmentName">
        <mat-option value="Phòng ban A">Phòng ban A</mat-option>
        <mat-option value="Phòng ban B">Phòng ban B</mat-option>
        <mat-option value="Phòng ban C">Phòng ban C</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Ngân hàng</mat-label>
      <mat-select placeholder="Nhập Text" formControlName="bank">
        <mat-option value="Ngân hàng A">Ngân hàng A</mat-option>
        <mat-option value="Ngân hàng B">Ngân hàng B</mat-option>
        <mat-option value="Ngân hàng C">Phòng ban C</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Chức vụ</mat-label>
      <mat-select placeholder="Nhập Text" formControlName="position">
        <mat-option value="Giám đốc">Giám đốc</mat-option>
        <mat-option value="Nhân viên">Nhân viên</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" width-100>
      <mat-label>Quê quán</mat-label>
      <input matInput placeholder="Nhập Text" formControlName="homeTown" />
    </mat-form-field>
    <mat-form-field appearance="outline" width-100>
      <mat-label>Nơi ở hiện đại</mat-label>
      <input
        matInput
        placeholder="Nhập Text"
        formControlName="currentResidence"
      />
    </mat-form-field>
    <mat-form-field appearance="outline" width-100>
      <mat-label>Hộ khẩu thường trú</mat-label>
      <input
        matInput
        placeholder="Nhập Text"
        formControlName="permanentResidence"
      />
    </mat-form-field>
    <div width-100 align="end">
      <button
        mat-raised-button
        color="primary"
        type="submit"
        (click)="onClickOk($event)"
        [disabled]="!myForm.valid"
        cdkFocusInitial
      >
        <mat-icon>save</mat-icon> {{ mData ? "Lưu và đóng" : "Thêm và đóng" }}
      </button>
      <button
        mat-raised-button
        color="warn"
        class="margin-left1"
        mat-dialog-close
      >
        <mat-icon>close</mat-icon> Hủy
      </button>
    </div>
  </form>
</div>
