<div class="container-anl">
  <h2 mat-dialog-title *ngIf="!mData">THÊM MỚI QUẢN LÝ NGHỈ LỄ TẾT</h2>
  <h2 mat-dialog-title *ngIf="mData">SỬA THÔNG TIN QUẢN LÝ NGHỈ LỄ TẾT</h2>
  <span>Vui lòng nhập đầy đủ thông tin bên dưới</span>
  <form [formGroup]="myForm" #form="ngForm" (submit)="onSubmit(form.value)">
    <mat-form-field appearance="outline">
      <mat-label>Từ ngày</mat-label>
      <input
        matInput
        [matDatepicker]="dateStartHolidayPicker"
        formControlName="dateStartHoliday"
      />
      <mat-datepicker-toggle matSuffix [for]="dateStartHolidayPicker">
      </mat-datepicker-toggle>
      <mat-datepicker #dateStartHolidayPicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Đến ngày</mat-label>
      <input
        matInput
        [matDatepicker]="dateEndHolidayPicker"
        formControlName="dateEndHoliday"
      />
      <mat-datepicker-toggle matSuffix [for]="dateEndHolidayPicker">
      </mat-datepicker-toggle>
      <mat-datepicker #dateEndHolidayPicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Loại ngày lễ</mat-label>
      <input
        matInput
        type="text"
        formControlName="idLoaiChamCong"
        [matAutocomplete]="autoTypeHT"
      />
      <mat-autocomplete
        autoActiveFirstOption
        #autoTypeHT="matAutocomplete"
        [displayWith]="typeHTDisplayFn"
      >
        <mat-option *ngFor="let item of filterTypeHT | async" [value]="item">
          {{ item.name }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <div width-100 align="end">
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="!myForm.valid"
      >
        <mat-icon>save</mat-icon> {{ mData ? "Lưu và đóng" : "Thêm và đóng" }}
      </button>
      <button
        mat-raised-button
        color="warn"
        class="margin-left1"
        mat-dialog-close
      >
        <mat-icon>close</mat-icon> Hủy
      </button>
    </div>
  </form>
</div>
