<div class="container-amc">
  <div class="title">
    <span>QUẢN LÝ CHẤM CÔNG</span>
  </div>
  <form>
    <mat-form-field appearance="outline">
      <mat-label>Chọn tháng/năm</mat-label>
      <input matInput [matDatepicker]="dp" [formControl]="monthYear" />
      <mat-datepicker-toggle matSuffix [for]="dp"> </mat-datepicker-toggle>
      <mat-datepicker
        #dp
        startView="multi-year"
        (yearSelected)="chosenYearHandler($event)"
        (monthSelected)="chosenMonthHandler($event, dp)"
      ></mat-datepicker>
    </mat-form-field>
    <div class="button-search">
      <button
        mat-raised-button
        color="primary"
        class="margin-left1"
        (click)="onLoadData(); isEdit = true"
      >
        <mat-icon>search</mat-icon> Tìm kiếm
      </button>
      <button
        mat-raised-button
        color="accent"
        class="margin-left1"
        [disabled]="!isEdit"
        (click)="isEdit = false"
      >
        <mat-icon>edit</mat-icon> Chỉnh sửa
      </button>
    </div>
  </form>
  <div class="container-table mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="staffName" sticky width-20>
        <th mat-header-cell *matHeaderCellDef>Tên nhân viên</th>
        <td mat-cell *matCellDef="let element">{{ element.staffName }}</td>
      </ng-container>

      <ng-container
        *ngFor="let item of displayedColumnsAll; let i = index"
        [matColumnDef]="item.cell"
      >
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ item.name }}
        </th>
        <td tappable mat-cell *matCellDef="let row" spellcheck="false">
          <ul type="none">
            <li
              [contentEditable]="!isEdit"
              (blur)="updateList($event, row[item.cell]?.idS)"
              [class.color-status]="
                row[item.cell]?.S == 1 && row[item.cell]?.status == 'F'
              "
            >
              <span>{{ row[item.cell]?.S }}</span>
            </li>
            <hr />
            <li
              [contentEditable]="!isEdit"
              (blur)="updateList($event, row[item.cell]?.idC)"
            >
              <span>{{ row[item.cell]?.C }}</span>
            </li>
          </ul>
        </td>
      </ng-container>

      <ng-container matColumnDef="workingDay" stickyEnd>
        <th mat-header-cell *matHeaderCellDef>Ngày làm việc</th>
        <td mat-cell *matCellDef="let element">{{ element.workingDay }}</td>
      </ng-container>

      <ng-container matColumnDef="dayOff" stickyEnd>
        <th mat-header-cell *matHeaderCellDef>Ngày nghỉ</th>
        <td mat-cell *matCellDef="let element">{{ element.dayOff }}</td>
      </ng-container>

      <ng-container matColumnDef="takeLeave" stickyEnd>
        <th mat-header-cell *matHeaderCellDef>Nghỉ phép</th>
        <td mat-cell *matCellDef="let element">{{ element.takeLeave }}</td>
      </ng-container>

      <ng-container matColumnDef="holiday" stickyEnd>
        <th mat-header-cell *matHeaderCellDef>Nghỉ lễ</th>
        <td mat-cell *matCellDef="let element">{{ element.holiday }}</td>
      </ng-container>

      <ng-container matColumnDef="freeBreak" stickyEnd>
        <th mat-header-cell *matHeaderCellDef>Nghỉ tự do</th>
        <td mat-cell *matCellDef="let element">{{ element.freeBreak }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="large"
  color="#325b8c"
  type="ball-atom"
  [fullScreen]="true"
>
  <p style="color: white">Loading...</p>
</ngx-spinner>
