.container-amc {
  padding: 0rem 2rem 0rem 2rem;

  .title {
    padding-top: 2%;
    padding-bottom: 1%;

    span {
      font-weight: bold;
      font-size: x-large;
      color: #325b8c;
    }
  }

  form {
    display: flex;
    mat-form-field {
      width: 33%;
      padding-right: 1%;
    }

    .button-search {
      padding: 0 0.75em 0 0.75em;
      margin-top: 0.25em;
      position: relative;
      display: flex;

      button {
        height: 3rem;
      }

      .margin-left1 {
        margin-left: 1%;
      }
    }
  }

  .container-table {
    width: 100%;
    overflow: auto;

    table {
      width: 100%;

      .mat-header-cell,
      .mat-footer-cell,
      .mat-cell {
        min-width: 100px;
        box-sizing: border-box;
      }

      .mat-header-row,
      .mat-footer-row,
      .mat-row {
        min-width: 1920px; /* 24 columns, 80px each */
      }

      th {
        font-weight: bold !important;
        font-size: 0.9rem !important;
      }

      td,
      th {
        max-width: 200px;
      }

      .m-option {
        position: fixed;
        z-index: 999;
        padding: 10px 32px;
        background-color: rgba(#ffff, 0.9);
        right: 32px;
        animation: fadeIn 300ms;
        display: flex;
      }

      ::ng-deep .mat-sort-header-container {
        justify-content: center;
        text-align: center;
      }

      .mat-header-row {
        background-color: #325b8c !important;
      }

      .mat-header-cell {
        color: white;
        text-align: center;
      }

      .mat-cell {
        text-align: center;
      }

      .mat-column-filler {
        padding: 0 8px;
        font-size: 10px;
        text-align: center;
      }
    }
  }
}
